<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_food3d"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_food3d"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFood_NgoThanhDanh"
        tools:targetApi="31">
        <activity
            android:name=".ResOwner_NTDanh.Res_Food_Edit"
            android:exported="false" />
        <activity
            android:name=".ResOwner_NTDanh.Res_Food_Add"
            android:exported="false" />
        <activity
            android:name=".ResOwner_NTDanh.Res_Information"
            android:exported="false" />
        <activity
            android:name=".ResOwner_NTDanh.Res_Order"
            android:exported="false" />
        <activity
            android:name=".ResOwner_NTDanh.Res_Food"
            android:exported="false" />
        <activity
            android:name=".ResOwner_NTDanh.Res_Home"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY_NTDanh.Account_Information"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY_NTDanh.Register_NTDanh"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY_NTDanh.FoodInCate"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY_NTDanh.Order_NTDanh"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY_NTDanh.Cart_NTDanh"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY_NTDanh.Food_Detail_NTDanh"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY_NTDanh.FoodInRes_NTDanh"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY_NTDanh.Home_NTDanh"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY_NTDanh.FillInformation_NTDanh"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY_NTDanh.Login_NTDanh"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFNvUxX4TLpgD-z3WXzvElTxPjoVuAD1M" />
    </application>

</manifest>